<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD A TEAM</title>
</head>
<body>
<header>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/goToAddTeam}">Add Team</a>
    <a th:href="@{/editTeam}">Edit Team</a>
    <a th:href="@{/deleteTeam}">Delete Team</a>
    <a th:href="@{/displayResults}">Display Results</a>
</header>

<form method="post" th:action="@{/addTeam}">
    Team Name: <input type="text" ><br>
    Continent: <input type="text" ><br>
    Number of Played Games: <input type="number" ><br>
    Number of Won Games: <input type="number" ><br>
    Number of Drawn Games: <input type="number" ><br>
    Number of Lost Games: <input type="number" ><br>

    <input type="submit" value="Add Team">
</form>



<footer>&copy; 2021 by Jameson Hoang, 991548515. All rights reserved</footer>
</body>
</html>