<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />

</head>
<body>
<h1> This is login page</h1>
<img src="../static/images/spring-boot-logo.png" th:src="@{/images/spring-boot-logo.png}" width="100px" height="100px"/>

<form method="post" th:action="@{/login}">


    <div th:if="${param.error}">
        <div class="error">
            Invalid username or password.
        </div>
    </div>

    <div th:if="${param.logout}">
        <div class="error">
            You have been logged out.
        </div>
    </div>
    <div>
        Username: <input type="text" name="username" /><br>
        Password: <input type="password" name="password" /><br>
        <input type="submit" name="login-submit" value="Log In" />
    </div>

</form>

<p><a href="/" th:href="@{/}">Back to home page</a></p>

</body>
</html>