div.grommet{
    width:50px;
    height:50px;
    float:left;
    border:1px solid black;
    text-align:center;
    font-size:40px;
}

div.color-red{
    background-color: red;
}

div.color-blue{
    background-color: blue;
}

div.color-green{
    background-color: green;
}

div.color-magenta{
    background-color: magenta;
}