<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ROCK PAPER SCISSORSSS</title>
</head>
<body>
<h1>PLAY ROCK PAPER SCISSORS AGAINST THE COMPUTER</h1>
<form method="post" th:action="@{/processInput}">

    <input type="radio" id="paper" name="choice" value="paper">
    <label for="paper">Paper</label>
    <br>
    <input type="radio" id="rock" name="choice" value="paper">
    <label for="rock">Rock</label>
    <br>
    <input type="radio" id="scissor" name="choice" value="paper">
    <label for="scissor">Scissor</label>

    <br>
    <input type="submit" value="Play"/>

</form>
<br>
<footer>Jameson Hoang | 991548515</footer>
</body>
</html>