<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GAMEPLAY</title>
    <link rel="stylesheet" th:href="@{outputStyle.css}">
</head>
<body>

<h3>
    Your choice was: <span class="userChoice" th:text="${game.userChoiceName}"></span>
</h3>

<h3>
    Computer picked: <span class="comChoice" th:text="${game.computerChoiceName}"></span>
</h3>

<h1>
    Winner: <span th:text="${game.getWinnerName()}"></span>
</h1>

<form method="post" th:action="@{/}">
    <br>
    <input type="submit" value="Click here to play again">
</form>


</body>
</html>