<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Fruit Checkout</title>
    <link rel="stylesheet" th:href="@{/css/mycss.css}">
</head>
<body>
<div class="index">
    <h1>List of fruits</h1>
</div>
<table style="width:50%">
    <tr>
        <th:block th:each="f:${fruits}">
            <th:block th:each="i:${#numbers.sequence(1,f.weight)}">
                <td><img th:src="@{'/images/'+ ${f.FType} +'.png'}"></td>
            </th:block>
        </th:block>
    </tr>
</table>
<div>
    <p th:text="'Total due =$' +  ${grandTotal}">Hello</p>
</div>
<div>
    <p><a th:href="@{/newOrder}">New Order</a></div>
</body>
</html>